.nav-bar {
    display: flex;
    font-size: 20px;
    height: 60px;
    justify-content: space-between;
    background-color: #333333;
    box-sizing: border-box;
    padding: 15px 15px 0 15px;
}

.link {
    /* margin: 20px; */
    margin: 0 15px 0 5px;
  
    width: 220px;
    height: 35px;
    background-color: black;;
    color: white;
    text-decoration: none;
    opacity: .5;
    border-radius: 3px;
    justify-self: right;
}

.headline{
  text-decoration: none;
  color: #E50B13;
  /* font-weight: bold; */
  /* margin: 20px 5px; */
  font-size: 24px;
}

